.header{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   position: relative;
   min-height: 180px;
}

.cart__Button{
   position: absolute;
   right: 0;
   z-index: 9;
}

.menu:hover{
   color: red;
   transition: all .3s ease;
}
.btn_open_menu{
   position: fixed;
   font-size:40px;
   right: 150px;
   z-index: 2;
}

.title h2 {
    font-size: 2rem;
 }
 .title h2 > span{
    color: #fff;
    position: relative;
    top: 10px;
 }